<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>Local Library</title>{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
<h1>{{ title }}</h1>
<hr>
<div>
    <h2>{{ server_1.title }}</h2>
    <p>Server Message:   {{ server_1.message }}</p>
    <p>Ping Count: "{{ server_1.ping_count }}"</p>
    <p>Server Status: "{{ server_1.status }}</p>
</div>
<hr>
<div>
    <h2>{{ server_2.title }}</h2>
    <p>Server Message:   {{ server_2.message }}</p>
    <p>Ping Count: "{{ server_2.ping_count }}"</p>
    <p>Server Status: "{{ server_2.status }}</p>
</div>
</body>
</html>
